<div class="player {{'if' isOpen 'open' ''}}">
  <div class="player-max">
    <div class="player-data-sm">

      <audio id="audioPlayer" style="visibility:hidden"></audio>

       <div id="audioPlayerLoader" class="spinner">
         <div class="sk-wave">
           <div class="sk-rect sk-rect1"></div>
           <div class="sk-rect sk-rect2"></div>
           <div class="sk-rect sk-rect3"></div>
           <div class="sk-rect sk-rect4"></div>
           <div class="sk-rect sk-rect5"></div>
         </div>
      </div>

      <p><span>{{current_time}}</span> / {{timeDuration}}</p>
      <h2>{{playing.title}}</h2>
    </div>
    <div class="player-img">
      <h2>{{playing.artist}}</h2>
      <div class="progress">
          <div class="progress-bar" style="width: {{timeProgress}}%;"></div>
      </div>
      <img src="{{playing.cover}}" />
    </div>
    <div class="player-data">
      <div class="progress">
          <div class="progress-bar" style="width: {{timeProgress}}%;"></div>
      </div>
      <p><span>{{current_time}}</span> / {{timeDuration}}</p>
      <h2>{{playing.title}}</h2>
      <h3>{{playing.artist}}</h3>
    </div>
    <div class="player-controls">
      <ul>
        <li>
          <a href="#" {{action 'playerClose'}} class="icon-close"></a>
        </li>
        <li>
          <a href="#prev-song" {{action 'prevSong'}} class="icon-p_previous"></a>
        </li>
        <li>
          <a href="#pause-audio" {{action 'pauseAudio'}} class="{{'if' isPlaying 'icon-p_pause' 'icon-p_play'}}"></a>
        </li>
        <li>
          <a href="#next-song" {{action 'nextSong'}} class="icon-p_next"></a>
        </li>
        <li class="volume {{'if' volumeRange 'show' ''}}">
          <a href="#" {{action 'showVolume'}} class="icon-newsong"></a>
          <div class="range">
            {{input type="range" min="0" max="100" value=volume}}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="player-min" {{action 'playerOpen'}}>
    <div class="progress">
        <div class="progress-bar" style="width: {{timeProgress}}%;"></div>
    </div>
    <div class="player-min-img">
      <img src="{{playing.cover}}" />
    </div>
    <div class="player-min-data">
      <p><span>{{current_time}}</span> / {{timeDuration}}</p>
      <h2>{{playing.title}}</h2>
      <h3>{{playing.artist}}</h3>
    </div>
  </div>
</div>
<ul class="playlist" style="display: none;">
  {{#each playlist as |song|}}
    <li {{action 'playAudio' song}}>{{song.title}}</li>
  {{/each}}
</ul>
<!--


<div class="player">
<div class="pl">{{status}}</div>
<div class="title">{{playing.title}}</div>
<div class="artist">{{playing.artist}}</div>
<div class="cover">
  <img src="{{playing.cover}}" alt="{{playing.artist}}">
</div>
{{current_time}}
<div class="controls">

  {{#if isPlaying}}
  <div class="stop" {{action 'stopAudio'}}> stop </div>
  <div class="pause" {{action 'pauseAudio'}}> pause </div>
  {{else}}
  <div class="play" {{action 'playAudio'}}> play </div>
  {{/if}}

  {{input type="range" min="0" max="100" value=volume}}
  {{volume}}
</div>

<div class="volume"></div>
<div class="tracker"></div>
</div>

<ul class="playlist">
  {{#each playlist as |song|}}
    <li {{action 'playAudio' song}}>{{song.title}}</li>
  {{/each}}
</ul>
-->
